body {
    background-color:rgba(95, 241, 95, 0.822);
}

.main-conatiner {
    margin-top: 20px;
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    min-height: 900px;
}
.next-conatiner {
    margin: -37px auto 20px;
    width: 900px;
    height: 250px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    min-height: 100px;
}
.next-row {
    padding: 5px;
    
}
.thb-text{
    width: 300px;
     float: left;
     font-size: 14px;
}

.thbs-row {
    padding: 5px;
}

.t-color {
    color:darkslategray;
}

.thbs-text{
     width: 200px;
     float: left;
     font-size: 14px;
}

.thbs-graphics {
    float: right;
    
}
.thbs-graph{
    float:right;
}
.t-img{
    width:500px;
    height: 200px;
}

.t-image {
    width: 450px;
    height:200px;
}

.clear {
    clear: both;
}

.s-border {
     border-top: 1px solid lightslategray;
}
.text {
    width: 300px;float: left;font-size: 18px;
}
.game{
    margin-top: 20px;
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    min-height: 400px;
}
button{
    border-radius: 10px;
    position:absolute;
}
@media(max-height:650px){
    .t-image{
        border:10px solid blue;
    }
    body{
        background-color: aqua;
    }
}